<header class="header">
    <div class="header-top-section">
        <div class="container">
            <div class="header-top-section__buttons">
                <div class="header-button__enter">
                    <a href="#">Войти</a>
                </div>
                <div class="header-button__addPost">
                    <a href="">Новое объявление</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom-section">
        <div class="container">
            <div class="header-bottom-section__elements">
                <div class="header-bottom-section__postBoard">
                    <h3>Доска объявлений</h3>
                </div>
                <div class="header-bottom-section__search">
                    <div class="header-bottom-section__searchCategories">
                        <a href="#">Все категории</a>
                    </div>
                    <div class="header-bottom-section__searchInputBtn">
                        <div class="header-bottom-section__searchInput">
                            <input type="text" placeholder="Поиск по объявлениям">
                        </div>
                        <div class="header-bottom-section__searchBtn">
                            <button>Найти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>